:host {
	--page-margin: var(--app-fair-margin);
	--page-background: var(--ion-color-medium-light);
}

.container {
	--background: var(--page-background);
	--padding-start: var(--page-margin);
	--padding-end: var(--page-margin);
	--padding-top: var(--page-margin);
	--padding-bottom: var(--page-margin);
}

ion-title {
	padding:0px;
}

.address {
	.heading {
		margin-top: 5px;
		margin-bottom: 5px;
		.title {
			font-size: 18px;
			font-weight: bold;
			color:var(--ion-color-dark);
		}
		.caption {
			font-size: 16px;
			color:var(--ion-color-primary);
		}
	}

	.address {
		background: var(--ion-color-white);
		color:var(--ion-color-dark);
		padding: 10px;
		border-radius: var(--app-small-radius);
	}
}

.shipping-method {
	background: var(--ion-background);
	padding-top: 0px;
	padding-bottom: 0px;
	ion-list-header {
		padding: 1px;
		font-size: 18px;
		font-weight: bold;
	}
	ion-item {
		margin-bottom: 10px;
		border-radius: var(--app-small-radius);
	}

	ion-text {
		color: var(--ion-color-success);
		font-weight: bold;
	}

	.red {
		--background: var(--ion-color-danger);
		color:var(--ion-color-white);
	}

	.white {
		--background: var(--ion-color-white);
		color:var(--ion-color-dark);
	}
}

.input-list {
	margin: 0px;
	--ion-item-background: var(--page-background);
	padding-top: 0px;
	ion-list-header {
		padding: 1px;
		font-size: 18px;
		font-weight: bold;
	}
	.input-item {
		--background: var(--ion-color-white);
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
		--border-radius: 5px; 
		ion-icon {
			margin: 15px 10px 5px 5px !important;
		}
	}
}