<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Categories</ion-title>
	</ion-toolbar> 
</ion-header>

<ion-content class="container">
	<div class="categories" *ngIf="categories">
		<ion-grid class="ion-no-padding">
			<ion-row>
				<ion-col size="6" class="ion-text-center" *ngFor="let category of categories" (click)="openSubCategories(category)">
					<img [src]="category.image">
					<div class="category_name">{{ category.category_name }}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="categories" *ngIf="!categories">
		<ion-grid class="ion-no-padding">
			<ion-row>
				<ion-col size="6" class="ion-text-center" *ngFor="let fake of fakes">
					<ion-skeleton-text animated style="width: 100%; height: 100px;"></ion-skeleton-text>
					<ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div *ngIf="categories?.length==0">
		<div id="container">
			<img src="./assets/image/no-data.png">
			<p>Coming Soon</p>
			<span>Please check back later !...</span>
		</div>
    </div>
</ion-content>
