:host {
	--page-margin: var(--app-small-margin);
	--page-background: var(--ion-color-white);
}

.container {
	--background: var(--page-background);
	--padding-start: var(--page-margin);
	--padding-end: var(--page-margin);
	--padding-top: var(--page-margin);
	--padding-bottom: var(--page-margin);
}

.categories {
    margin-bottom: 5px;
    background-color: var(--ion-color-primary-tint);
    ion-col {
        padding: 5px;
        border: solid var(--ion-color-primary-shade) 1px;
    }
	img {
		height: 150px;
	}
    .category_name {
        font-size:14px;
        text-align: center;
		font-weight: 800;
		color:var(--ion-color-dark);
    }
}